.container{
    max-width: 500px;
    margin: 100px auto;
    border: 3px solid coral;
    
    }
    .display{
    color: black;
    text-align: right;
    height: 70px;
    padding: 16px 8px;
    font-size: 50px;
    border-bottom: 3px solid coral;
    }
    .buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    }
    .buttons>div{
    border: 2px solid coral;
    
    }
    .button{
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    }
    .equal{
    background: rgb(186, 54, 54);
    color: #fff;
    }
    .button:hover{
    background: steelblue;
    color: #fff;
    transition: 0.5s ease-in-out;
    }    